[Unit]
Description=Bitcoin XT distributed currency daemon
After=network.target

[Service]
User=bitcoin
Group=bitcoin

Type=forking
PIDFile=/var/lib/bitcoinxt/bitcoinxtd.pid
ExecStart=/usr/bin/bitcoinxtd -daemon -pid=/var/lib/bitcoinxt/bitcoinxtd.pid \
-conf=/etc/bitcoinxt/bitcoin.conf -datadir=/var/lib/bitcoinxt -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
